{% extends 'base/base.html' %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}


<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span></span>  Lista de productos  
                </div>
                                
                {% for instance in listaGeneral %}

                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox"/>
                                <label for="checkbox">
                                    {{ instance.nombre }}                            
                                </label>
                            </div>
                        </li>                   
                    </ul>
                </div>
                {% endfor %}


                {% for listP in lista_x_local %}                            
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox"/>
                                <label for="checkbox">
                                    {{ listP.nombreProducto }}                       
                                </label>
                            </div>
                            <div class="pull-right action-buttons">
                                <span class="glyphicon glyphicon-pencil"></span></a>
                                <span class="glyphicon glyphicon-trash"></span></a>
                                <span class="glyphicon glyphicon-flag"></span></a>
                            </div>
                        </li>                   
                    </ul>
                </div>
               {% endfor %}

                

            </div>
        </div>
    </div>
</div>


{% endblock %}