{% extends 'base/base.html' %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span></span>  Lista de productos
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                <li><span class="glyphicon glyphicon-trash"></span>Delete</a></li>
                                <li><span class="glyphicon glyphicon-flag"></span>Flag</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                {% for instance in object_list %}

                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox"/>
                                <label for="checkbox">
                                    {{ instance.nombre }} 
                           
                                </label>
                            </div>
                            <div class="pull-right action-buttons">
                                <span class="glyphicon glyphicon-pencil"></span></a>
                                <span class="glyphicon glyphicon-trash"></span></a>
                                <span class="glyphicon glyphicon-flag"></span></a>
                            </div>
                        </li>                   
                    </ul>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>


{% endblock %}