{% extends 'base/base2.html' %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}


                <table class="table table-bordered">         
                {% for instance in listaGeneral %}
                    <tr>
                        <td>{{ instance.nombre }}  </td>                        
                    </tr>
            
                                                             

                {% endfor %}
                </table>      
    <div>
        <form action="." method='POST' class="formulario">{% csrf_token %}
            {{ form.as_p }} 
            <input type='submit' value='Guardar' class="btn btn-primary"/> 
        </form>             
    </div>     

    <div>
        <table class="table table-bordered">   
            {% for listP in lista_x_local %}                            
                <tr>
                    <td>{{ listP.nombreProducto }}   </td>
                    <td><center>{{ listP.cantidad }} </center></td>
                    <td><center><a href="{% url 'borrar' listP.id %}">Borrar</a></center></td>
                    
                </tr>
            {% endfor %}
        </table>     
    </div>
                




{% endblock %}